*{
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
}

.section{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 85px 8px 8px 8px;
}

nav{
    position: fixed;
    height: 80px;
    background-color: rebeccapurple;
    color: white;
    width: 100%;
    line-height: 80px;
    box-sizing: border-box;
    padding: 0 10px;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
}